@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../font/League_Gothic/League_Gothic-webfont.eot');
    src: url('../font/League_Gothic/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/League_Gothic/League_Gothic-webfont.woff') format('woff'),
         url('../font/League_Gothic/League_Gothic-webfont.ttf') format('truetype'),
         url('../font/League_Gothic/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

header, footer, section, aside, nav, article, figure{ display:block; }

a {
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
a, a:link, a:visited, a:active{color:#222;}
a:hover, a:focus{color:#f60;}
img{border:0;}

body{
    font-size:62.5%;
    font: 62.5% Lucida grande, Tahoma, Verdana, Arial, Sans-serif;
    margin:0;
	
    background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 15%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(15%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.3) 15%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.3) 15%,rgba(0,0,0,0) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.3) 15%,rgba(0,0,0,0) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.3) 15%,rgba(0,0,0,0) 100%); /* W3C */
    background-color: #eee;
    
    background-repeat:no-repeat;
    background-position:0 0
}
.wrapper{
    font-size:1.2em;
    margin:0 auto;
    padding:0;
    position:relative;
	width:300px;
	text-align:center;
}
header{
    text-align:center;
    margin:0;
    padding:0;
}
h1{
    font: 60px/68px 'LeagueGothicRegular', Arial, sans-serif;letter-spacing: 0;
}
header h1{
    text-transform:uppercase;
    padding:0 0 0 0;
    margin:0;
    line-height:50px;
    color:#000;
}
header h1 span{
    text-transform:lowercase;
    color:#f60;
}
footer{
    margin: 0;
    padding:0 30px;
}
.twitter{
	display:block;
	text-align:left;
	text-decoration:none;
	overflow:auto;
	padding: 10px 0;
	margin:10px;
    background-color:#fff;
	font-size:15px;
    
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    
    -webkit-box-shadow: inset 0px 0px 5px 0px #444444;
    -moz-box-shadow: inset 0px 0px 5px 0px #444444;
    box-shadow: inset 0px 0px 5px 0px #444444; 
}
.twitter svg{float: left; margin-top: -15px;}
.twitter p{margin:0; padding:20px 10px 10px 0;}
.twitter strong{display:block; font-size:20px;}